@{
    ViewBag.Title = "Forgot Password";
    Bundles.Reference("~/scripts/Account/");
}
<p>
    Thanks. We've sent an email to the address you specified. This email contains a link to help you reset your password.
</p>
