@{
    ViewBag.Title = "Password Reset Request";
    Bundles.Reference("~/scripts/Account/");
}
<p>
    Sorry. The password reset request is no longer valid. You may try again by clicking @Html.ActionLink("here", MVC.Account.ForgotPassword()).
</p>
